[submodule "docs"]
	path = docs
	url = git@github.com:JSebasART/qualifier-docs.git
	branch = .
[submodule "web"]
	path = web
	url = git@github.com:JSebasART/qualifier-web.git
	branch = .
[submodule "grading-engine"]
	path = grading-engine
	url = git@github.com:JSebasART/qualifier-grading-engine.git
	branch = .
[submodule "ai-orchestrator"]
	path = ai-orchestrator
	url = git@github.com:JSebasART/qualifier-ai-orchestrator.git
	branch = .
[submodule "db"]
	path = db
	url = git@github.com:JSebasART/qualifier-db.git
	branch = .
